export MYSQL_DATABASE=bcwpt
export MYSQL_USER=bcwpt
export MYSQL_PASSWORD=bcwpt
export DATABASE_URL="mysql://$MYSQL_USER:$MYSQL_PASSWORD@localhost:3306/$MYSQL_DATABASE"

export SECRET_KEY=53cr3T
export DEBUG=True

export PROBE_URL='# TODO'
export API_KEY='JjKr3dIm3f5ymm2R7LT1Bx3WQLGxJict4vGcbWuUoKI='
